
.head{
    columns:6;
    padding:15px;
	background-color:red;

}
a{
	color:white;
}
h3{
	color:white;
}
p{
	color:white;
}
body{
	background-color:black;
}
ul{
    padding:15px;
    border-style:solid;
    border-width:1px;
    width:100px;
    height: 200px;
    padding-right:30px;
    padding-left:30px;
    

    
}
footer{
    padding:50px;
}
.product1{
    position: absolute;
    left: 200px;
    top: 140px;

}
.product2{
    position: absolute;
    left:200px;
    top:500px;

}
.content1{
    position: absolute;
    left: 550px;
    top: 130px;
    line-height: 10px;

}

.content2{
    position: absolute;
    left: 650px;
    top: 150px;
    line-height: 10px;
	color:white;

}

.content3{
    position: absolute;
    left: 650px;
    top: 490px;
    line-height: 10px;
	color:white;

}

.amount{
    position: absolute;
    left: 1100px;
    top: 500px;

}
.price{
    position: absolute;
    left: 1150px;
    top: 480px;

}
.review{
	position:absolute;
	left:200px;
	top:500px;
	padding:30px;
}

footer{
	background-color:black;
	position:relative;
	top:500px;
	text-align:center;
}
.foot1{
	background-color:red;
}
.btna{
    width:180px;
    height: 25px;
    background-color: red;
    border:none;
    color:white;
    font-weight: 900;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor:poniter;
}
.value{
    color:white;
}
