.head{
    columns:6;
    padding:15px;
	background-color:red;


}
a{
	color:white;
}
h3{
	color:white;
}
p{
	color:white;
}
body{
	background-color:black;
}
ul{
    padding:15px;
    border-style:solid;
    border-width:1px;
    width:100px;
    height: 200px;
    padding-right:30px;
    padding-left:30px;

    
}
footer{
    padding:50px;
}
.product1{
    position: absolute;
    left: 200px;
    top: 150px;

}
.icon1{
    position: absolute;
    left: 200px;
    top: 200px;

}
.icon2{
    position: absolute;
    left: 1050px;
    top: 360px;
    

}
.icon3{
    position: absolute;
    left: 200px;
    top: 600px;
    

}
.icon4{
    position: absolute;
    left: 1050px;
    top: 750px;
}
.content1{
    position: absolute;
    left: 200px;
    top: 100px;
    line-height: 5px;

}
.content2{
    position: absolute;
    left:400px;
    top: 200px;
    line-height: 20px;

}
.content3{
    position: absolute;
    left:400px;
    top: 340px;
    line-height: 20px;

}
.content4{
    position: absolute;
    left:200px;
    top: 525px;
    line-height: 10px;

}
.content5{
    position: absolute;
    left:400px;
    top: 600px;
    line-height: 20px;

}
.content6{
    position: absolute;
    left:400px;
    top: 750px;
    line-height: 20px;

}

.amount{
    position: absolute;
    left: 1100px;
    top: 500px;

}
.price{
    position: absolute;
    left: 1150px;
    top: 480px;

}
.board{
	position: absolute;
    left: 200px;
    top: 150px;
	color:white;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

footer2{
	background-color:black;
	position:relative;
	top:80px;
	text-align:center;
}
footer3{
	background-color:black;
	position:relative;
	top:600px;
	text-align:center;
	padding:20px;
}
.foot1{
	background-color:red;
}